.components_folder{
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
}
.component{
  border: 1px solid grey;
  margin: 20px;
  padding: 20px;
  width: 20rem;
}
#image{
  max-width: 20rem;
  max-height: 20rem;
  height: auto;
}